.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*.php
tests
.phpunit.result.cache
phpunit.xml
README.md
Dockerfile
docker-compose*.yml
